<a href="https://colab.research.google.com/github/AlejandroLopezDS/Course-2/blob/main/Week4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install -q kaggle
from google.colab import files
files.upload()
#create a kaggle folder
!mkdir ~/.kaggle
# Go on kaggle > Account > Create New API token
# Save the json file in your laptop in a dedicated folder
# copy the kaggle.json to folder created
!cp kaggle.json ~/.kaggle
#permission for the json to act
!chmod 600 ~/.kaggle/kaggle.json
# Datasets available here: 
# https://www.kaggle.com/uciml/red-wine-quality-cortez-et-al-2009
!kaggle datasets download -d artemkorottchenko/large-boatyacht-pricing-dataset
!unzip large-boatyacht-pricing-dataset.zip

Saving kaggle.json to kaggle.json
Downloading large-boatyacht-pricing-dataset.zip to /content
 80% 5.00M/6.22M [00:00<00:00, 21.9MB/s]
100% 6.22M/6.22M [00:00<00:00, 26.6MB/s]
Archive:  large-boatyacht-pricing-dataset.zip
  inflating: boat_dataset.csv

In [2]:
import pandas as pd
import io
import numpy as np
pd.options.display.max_columns = 100
pd.options.display.max_rows = 60

df = pd.read_csv(io.StringIO(open('/content/boat_dataset.csv', 'rb').read().decode('utf-8', errors='ignore')), sep=",")

In [3]:
df.dtypes

Price                           object
Category                        object
Boat Type                       object
Manufacturer                    object
Model                           object
Boat name                       object
Type                            object
Year Built                     float64
Condition                       object
Length                          object
Width                           object
Depth                           object
Displacement                    object
CE Design Category              object
Cert Number of People          float64
Number of Cabins               float64
Number of beds                 float64
Hull Color                      object
Number of Toilets              float64
Number of Bathrooms            float64
Number of Showers              float64
Material                        object
Fresh Water Cap                 object
Holding Tank                    object
Propulsion                      object
Engine                          object
Engine Performance              object
Fuel Capacity                   object
Fuel Type                       object
Engine Hours                    object
Max Speed                       object
Cruising Speed                  object
Location                        object
Advertisement Date              object
Number of views last 7 days     object
Comments                        object
Additional Comments             object
Equipment                       object
dtype: object

In [5]:
df.describe(include = 'all')

,Price,Category,Boat Type,Manufacturer,Model,Boat name,Type,Year Built,Condition,Length,Width,Depth,Displacement,CE Design Category,Cert Number of People,Number of Cabins,Number of beds,Hull Color,Number of Toilets,Number of Bathrooms,Number of Showers,Material,Fresh Water Cap,Holding Tank,Propulsion,Engine,Engine Performance,Fuel Capacity,Fuel Type,Engine Hours,Max Speed,Cruising Speed,Location,Advertisement Date,Number of views last 7 days,Comments,Additional Comments,Equipment
count,10344,10344,10344,8954,10341,1313,10339,9777.000000,3375,10334,10281,7234,5051,782,3597.000000,6475.000000,6407.000000,3311,2156.000000,463.000000,1941.000000,8512,2118,819,3291,9535,8063,6814,8022,5133,892,547,10301,870,9981,7078,2454,6174
unique,3283,1,135,932,7458,1258,36,NaN,10,1628,580,264,1380,4,NaN,NaN,NaN,377,NaN,NaN,NaN,11,287,104,8,4752,843,716,6,996,99,57,3177,101,680,6631,2410,5301
top,"EUR 65.000,-",Power Boats,Motor Yacht,Bénéteau power boats,BARRACUDA 8,Maxima,"Used boat,Diesel",NaN,very good,9.00 m,2.50 m,0.90 m,12000 kg,C - Inshore,NaN,NaN,NaN,white white,NaN,NaN,NaN,GRP,100 l,100 l,Inboard with Shaft,Volvo Penta,1 x 200 HP / 147 kW,400 l,Diesel,500 h,30 knots,25 knots,Netherlands » In verkoophaven,14.07.2020,68,Wir sprechen Deutsch. Vermittlungsprovision ni...,"Ex-works price,Not included:,- Motor,- Options...",Battery
freq,81,10344,2839,663,23,15,4197,NaN,1158,113,369,582,50,402,NaN,NaN,NaN,853,NaN,NaN,NaN,5754,122,82,1188,375,305,231,4748,112,114,70,332,33,91,128,11,54
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2004.830725,NaN,NaN,NaN,NaN,NaN,NaN,9.355296,2.149035,4.345716,NaN,1.763915,1.289417,1.550747,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.309045,NaN,NaN,NaN,NaN,NaN,NaN,24.037107,2.145005,3.974223,NaN,2.076365,0.653360,0.930096,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1885.000000,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,-1.000000,-23.000000,NaN,1.000000,1.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999.000000,NaN,NaN,NaN,NaN,NaN,NaN,7.000000,1.000000,2.000000,NaN,1.000000,1.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008.000000,NaN,NaN,NaN,NaN,NaN,NaN,8.000000,2.000000,4.000000,NaN,1.000000,1.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017.000000,NaN,NaN,NaN,NaN,NaN,NaN,10.000000,3.000000,6.000000,NaN,2.000000,1.000000,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021.000000,NaN,NaN,NaN,NaN,NaN,NaN,1200.000000,96.000000,266.000000,NaN,84.000000,6.000000,10.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10344 entries, 0 to 10343
Data columns (total 38 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Price                        10344 non-null  object
 1   Category                     10344 non-null  object
 2   Boat Type                    10344 non-null  object
 3   Manufacturer                 8954 non-null   object
 4   Model                        10341 non-null  object
 5   Boat name                    1313 non-null   object
 6   Type                         10339 non-null  object
 7   Year Built                   9777 non-null   float64
 8   Condition                    3375 non-null   object
 9   Length                       10334 non-null  object
 10  Width                        10281 non-null  object
 11  Depth                        7234 non-null   object
 12  Displacement                 5051 non-null   object
 13  CE Design Category           782 non-null    object
 14  Cert Number of People        3597 non-null   float64
 15  Number of Cabins             6475 non-null   float64
 16  Number of beds               6407 non-null   float64
 17  Hull Color                   3311 non-null   object
 18  Number of Toilets            2156 non-null   float64
 19  Number of Bathrooms          463 non-null    float64
 20  Number of Showers            1941 non-null   float64
 21  Material                     8512 non-null   object
 22  Fresh Water Cap              2118 non-null   object
 23  Holding Tank                 819 non-null    object
 24  Propulsion                   3291 non-null   object
 25  Engine                       9535 non-null   object
 26  Engine Performance           8063 non-null   object
 27  Fuel Capacity                6814 non-null   object
 28  Fuel Type                    8022 non-null   object
 29  Engine Hours                 5133 non-null   object
 30  Max Speed                    892 non-null    object
 31  Cruising Speed               547 non-null    object
 32  Location                     10301 non-null  object
 33  Advertisement Date           870 non-null    object
 34  Number of views last 7 days  9981 non-null   object
 35  Comments                     7078 non-null   object
 36  Additional Comments          2454 non-null   object
 37  Equipment                    6174 non-null   object
dtypes: float64(7), object(31)
memory usage: 3.0+ MB

In [7]:
len(df) - len(df[df["Max Speed"].isna()])

892

In [13]:
df.Equipment.unique()

array([nan,
       'Anchor,Battery,Bilge Pump,Bilge pump,Cockpit Cover,Compass,Depth Instrument,Gas Stove,Stern Thruster,Teak Cockpit,Teak Deck,Underwater Paint',
       'Anchor,Mooring Cover,Swim Ladder,Trailer', ...,
       'Anchor,Battery,CD Player,MP3 Player,Navigation lights,Radio,Swim Ladder',
       'Anchor,Battery,Bilge Pump,Compass,Fire Extinguisher,MP3 Player,Radio,Speed Instrument,Swim Ladder,Trailer,Underwater Paint,iPod Interface',
       'Battery,Fire Extinguisher,Full Enclosure,Speed Instrument,Trailer'],
      dtype=object)

In [9]:
mask1 = df['Year Built']> 2000

mask2 = df['Year Built'].between(2000,2002)

In [17]:
list_cat_to_keep = ['Electric']
mask3 = ((df['Year Built']>=2001)  | (df['Year Built']<=2011)) & (df['Number of Cabins']<2) & (~df['Fuel Type'].isin(list_cat_to_keep))

In [ ]:
df[mask3]['Fuel Type'].unique()

array(['Electric'], dtype=object)

In [20]:
df['Fuel Type'].value_counts()

Diesel      4748
Unleaded    3199
Electric      56
Gas           16
Hybrid         2
Propane        1
Name: Fuel Type, dtype: int64

In [ ]:
np.round(df['Fuel Type'].value_counts(normalize = True, dropna = False)*100,decimals = 2)

Diesel      45.90
Unleaded    30.93
NaN         22.45
Electric     0.54
Gas          0.15
Hybrid       0.02
Propane      0.01
Name: Fuel Type, dtype: float64

In [22]:
df['Fuel Type'].unique()

array([nan, 'Unleaded', 'Electric', 'Diesel', 'Gas', 'Hybrid', 'Propane'],
      dtype=object)

In [21]:
df['Advertisement Date'] = pd.to_datetime(df['Advertisement Date'], format='%d.%m.%Y')

In [23]:
df['Advertisement Date'].tail()

10339          NaT
10340          NaT
10341          NaT
10342   2020-07-23
10343          NaT
Name: Advertisement Date, dtype: datetime64[ns]

In [24]:
df['Length'] = df['Length'].str.rstrip(' m')

df['Length'] = pd.to_numeric(df['Length'])

In [26]:
df['Length'].astype(float)

0        4.00
1        4.00
2        3.69
3        3.00
4        6.30
         ...
10339    4.17
10340    4.40
10341    4.37
10342    4.27
10343    3.60
Name: Length, Length: 10344, dtype: float64

In [27]:
def format_series(series, char):

  new_series = series.str.rstrip(char)
  new_series = pd.to_numeric(new_series)

  return new_series

In [28]:
for col in ['Width', 'Depth']:

  df[col] = format_series(df[col], ' m')

In [29]:
df['Engine Hours'] = format_series(df['Engine Hours'], ' h')

In [30]:
for col in ['Fresh Water Cap', 'Holding Tank', 'Fuel Capacity']:
  df[col] = format_series(df[col], ' l')

In [48]:
df.select_dtypes(include= "datetime64").columns

Index(['Advertisement Date'], dtype='object')

In [50]:
col_objects_1 = df.select_dtypes(include = 'object').columns

for col in col_objects_1:
  print(f"Column {col} has {len(df[col].unique())} categories\n" )

Column Price has 3283 categories

Column Category has 1 categories

Column Boat Type has 135 categories

Column Manufacturer has 933 categories

Column Model has 7459 categories

Column Boat name has 1259 categories

Column Type has 37 categories

Column Condition has 11 categories

Column Displacement has 1381 categories

Column CE Design Category has 5 categories

Column Hull Color has 378 categories

Column Material has 12 categories

Column Propulsion has 9 categories

Column Engine has 4753 categories

Column Engine Performance has 844 categories

Column Fuel Type has 7 categories

Column Max Speed has 100 categories

Column Cruising Speed has 58 categories

Column Location has 3178 categories

Column Number of views last 7 days has 681 categories

Column Comments has 6632 categories

Column Additional Comments has 2411 categories

Column Equipment has 5302 categories

In [49]:
list_col_to_delete_part1 = ['Category']

In [53]:
df.columns

Index(['Price', 'Category', 'Boat Type', 'Manufacturer', 'Model', 'Boat name',
       'Type', 'Year Built', 'Condition', 'Length', 'Width', 'Depth',
       'Displacement', 'CE Design Category', 'Cert Number of People',
       'Number of Cabins', 'Number of beds', 'Hull Color', 'Number of Toilets',
       'Number of Bathrooms', 'Number of Showers', 'Material',
       'Fresh Water Cap', 'Holding Tank', 'Propulsion', 'Engine',
       'Engine Performance', 'Fuel Capacity', 'Fuel Type', 'Engine Hours',
       'Max Speed', 'Cruising Speed', 'Location', 'Advertisement Date',
       'Number of views last 7 days', 'Comments', 'Additional Comments',
       'Equipment'],
      dtype='object')

In [57]:
# Split the data in 2 parts 
# Train val & test
# Split done with a temporar basis

df.set_index(['Advertisement Date']).resample('M').size()

Advertisement Date
2020-03-31      5
2020-04-30     23
2020-05-31     84
2020-06-30    282
2020-07-31    476
dtype: int64

In [79]:
# Train and validation
train_val = df[df['Advertisement Date'] < '2022-01-01'].reset_index(drop=True)
test = df[df['Advertisement Date'] >= '2021-01-01'].reset_index(drop=True)

In [80]:
train_val.duplicated(keep = False)

0      False
1      False
2      False
3      False
4      False
       ...
865    False
866    False
867    False
868    False
869    False
Length: 870, dtype: bool

In [91]:
print(f'The database has {df[df.duplicated(keep=False)].shape[0]} true duplicates']

SyntaxError: ignored

Empty DataFrame
Columns: [Price, Category, Boat Type, Manufacturer, Model, Boat name, Type, Year Built, Condition, Length, Width, Depth, Displacement, CE Design Category, Cert Number of People, Number of Cabins, Number of beds, Hull Color, Number of Toilets, Number of Bathrooms, Number of Showers, Material, Fresh Water Cap, Holding Tank, Propulsion, Engine, Engine Performance, Fuel Capacity, Fuel Type, Engine Hours, Max Speed, Cruising Speed, Location, Advertisement Date, Number of views last 7 days, Comments, Additional Comments, Equipment]
Index: []

In [82]:
# Create a conversion table
create_change = {'Currency_A': ['EUR', 'GBP', 'DKK', 'SEK', 'USD', 'CHF'], 
               'Currency_B': ['CHF', 'CHF', 'CHF', 'CHF', 'CHF', 'CHF'], 
               'Change': [1.05, 1.24, 0.14, 0.11, 0.92, 1]}
change = pd.DataFrame(data=create_change)
change

  Currency_A Currency_B  Change
0        EUR        CHF    1.05
1        GBP        CHF    1.24
2        DKK        CHF    0.14
3        SEK        CHF    0.11
4        USD        CHF    0.92
5        CHF        CHF    1.00

In [89]:
dict_change = dict(zip(change.iloc[:,0], change.iloc[:,2]))

In [118]:
data_part = train_val['Price']

In [122]:
data_part = df['Price'].str.partition(" ")

data_part[0] = data_part[0].str.replace('£', 'GBP')

data_part[2] = data_part[2].str.replace('.', '')
data_part[2] = data_part[2].str.replace(',', '')
data_part[2] = data_part[2].str.replace('-', '')

#data_part[2] = data_part[2].astype(float, errors = 'raise')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  """

In [119]:
data_part[2].astype(int)

AttributeError: ignored

In [134]:
#Price conversion

new_price = data_part.apply(lambda x: dict_change[x[0]] * x[2], axis = 1)

KeyError: ignored

In [129]:
dict_change[]

1.05

In [137]:
feature_analyze_duplicates = ['Model', 'Type']

In [139]:
duplicated_boat = df[df.duplicated(subset = feature_analyze_duplicates , keep=False)].reset_index

In [140]:
duplicated_boat

<bound method DataFrame.reset_index of               Price     Category     Boat Type               Manufacturer  \
5       EUR 3.399,-  Power Boats  Fishing Boat         Linder power boats
23      EUR 4.000,-  Power Boats        Launch                        NaN
24      EUR 4.000,-  Power Boats        Launch                        NaN
32      CHF 4.030,-  Power Boats  Fishing Boat         Linder power boats
71      EUR 6.500,-  Power Boats    Cabin Boat      Dawncraft power boats
...             ...          ...           ...                        ...
10267  DKK 52.000,-  Power Boats    Sport Boat       Crescent power boats
10272   EUR 6.900,-  Power Boats    Cabin Boat    Hiltergerke power boats
10299   EUR 5.950,-  Power Boats  Pontoon Boat          Whaly power boats
10302   EUR 5.950,-  Power Boats    Cabin Boat                        NaN
10332   CHF 5.000,-  Power Boats     Water ski  Correct Craft power boats

                     Model Boat name                 Type  Year Built  \
5            355 Sportsman       NaN  new boat from stock      2019.0
23     Zaccagnino ANACONDA       NaN            Used boat      1984.0
24     Zaccagnino ANACONDA       NaN            Used boat      1984.0
32           355 Sportsman       NaN  new boat from stock      2018.0
71                      25       NaN   Used boat,Unleaded      1968.0
...                    ...       ...                  ...         ...
10267           465 Trader       NaN  new boat from stock      2019.0
10272               DC 620       NaN   Used boat,Unleaded      1981.0
10299                  500       NaN  new boat from stock      2018.0
10302            Kajütboot       NaN   Used boat,Unleaded         NaN
10332         Ski Nautique       NaN   Used boat,Unleaded      1999.0

          Condition  Length  Width  Depth Displacement CE Design Category  \
5               new    3.55   1.46    NaN        84 kg                NaN
23              NaN    6.00   2.20    NaN          NaN                NaN
24              NaN    6.00   2.20    NaN          NaN                NaN
32              NaN    3.55   1.46    NaN        84 kg                NaN
71             good    8.00   2.10    0.4     1'800 kg                NaN
...             ...     ...    ...    ...          ...                ...
10267           NaN    4.00    NaN    NaN       260 kg                NaN
10272          used    6.20   2.25    0.7      1000 kg                NaN
10299           new    5.00   2.10    NaN       350 kg                NaN
10302  well-groomed    4.85   1.80    NaN       580 kg                NaN
10332          used    5.90   2.32    NaN          NaN                NaN

       Cert Number of People  Number of Cabins  Number of beds   Hull Color  \
5                        4.0               NaN             NaN          NaN
23                       NaN               NaN             NaN          NaN
24                       NaN               NaN             NaN          NaN
32                       NaN               NaN             NaN         grey
71                       NaN               NaN             1.0          NaN
...                      ...               ...             ...          ...
10267                    NaN               NaN             NaN          NaN
10272                    6.0               1.0             1.0  white white
10299                   12.0               NaN             NaN          NaN
10302                    NaN               NaN             NaN          NaN
10332                    6.0               NaN             NaN          NaN

       Number of Toilets  Number of Bathrooms  Number of Showers   Material  \
5                    NaN                  NaN                NaN  Aluminium
23                   NaN                  NaN                NaN        GRP
24                   NaN                  NaN                NaN        GRP
32                   NaN                  NaN                NaN  Aluminium
71                   NaN                  1.0                NaN        GRP
...                  ...                  ...                ...        ...
10267                NaN                  NaN                NaN        NaN
10272                NaN                  NaN                NaN        GRP
10299                NaN                  NaN                NaN        NaN
10302                NaN                  NaN                NaN        GRP
10332                NaN                  NaN                NaN        GRP

       Fresh Water Cap  Holding Tank             Propulsion  \
5                  NaN           NaN                    NaN
23                 NaN           NaN                    NaN
24                 NaN           NaN                    NaN
32                 NaN           NaN                    NaN
71                70.0           NaN  Outboard, four-stroke
...                ...           ...                    ...
10267              NaN           NaN                    NaN
10272              NaN           NaN             Sterndrive
10299              NaN           NaN                    NaN
10302              NaN           NaN  Outboard, four-stroke
10332              NaN           NaN     Inboard with Shaft

                                 Engine   Engine Performance  Fuel Capacity  \
5                                   NaN                  NaN            NaN
23                                 Buck    1 x 20 HP / 15 kW           50.0
24                                 Buck    1 x 20 HP / 15 kW           50.0
32                                  NaN                  NaN            NaN
71                             Evinrude    1 x 30 HP / 22 kW           60.0
...                                 ...                  ...            ...
10267                               NaN                  NaN            NaN
10272  Volvo Penta 3 Liter AQ 170/270 T  1 x 170 HP / 125 kW          110.0
10299                               NaN                  NaN            NaN
10302                 Honda Außenborder    1 x 30 HP / 22 kW           25.0
10332                Pleasure Craft IBO  1 x 294 HP / 216 kW            NaN

      Fuel Type  Engine Hours Max Speed Cruising Speed  \
5           NaN           NaN       NaN            NaN
23          NaN           NaN       NaN            NaN
24          NaN           NaN       NaN            NaN
32          NaN           NaN       NaN            NaN
71     Unleaded           NaN       NaN            NaN
...         ...           ...       ...            ...
10267       NaN           NaN       NaN            NaN
10272  Unleaded         650.0       NaN            NaN
10299       NaN           NaN       NaN            NaN
10302  Unleaded           NaN       NaN            NaN
10332  Unleaded           NaN       NaN            NaN

                                                Location Advertisement Date  \
5                             Germany » Bayern » München                NaT
23                             Italy » Toscana » Toscana                NaT
24                             Italy » Toscana » Toscana                NaT
32            Switzerland » Vierwaldstättersee » Luzern                 NaT
71                             Germany » Berlin » Berlin         2020-06-15
...                                                  ...                ...
10267                                Denmark » Svendborg                NaT
10272  Germany » Nordrhein-Westfalen » 32547 Bad Oeyn...                NaT
10299                                Italy » Dormelletto                NaT
10302  Germany » Mecklenburg-Vorpommern » Ueckermünde...         2020-06-23
10332                               Switzerland » Uznach                NaT

      Number of views last 7 days  \
5                              58
23                            NaN
24                            NaN
32                            130
71                            289
...                           ...
10267                         126
10272                         154
10299                         156
10302                         303
10332                         NaN

                                                Comments  \
5                                                    NaN
23                                                   NaN
24                                                   NaN
32                                                   NaN
71     Live aboard boat,,Refit done a few years ago, ...
...                                                  ...
10267  Fritidsfiskerens favoritbåd, den har en imporn...
10272                                                NaN
10299  Caratteristiche tecniche,,Materiale: Polietile...
10302                                                NaN
10332                                                NaN

                                     Additional Comments  \
5      For engines up to Type 8, the environmentally ...
23                                                   NaN
24                                                   NaN
32     Neuboot available for immediate delivery.,For ...
71                                                   NaN
...                                                  ...
10267                                                NaN
10272  A fast day cruiser, very manoeuvrable, top cor...
10299                                                NaN
10302  For health reasons, I am selling my GRP cabin ...
10332          Motor defective, bowl damaged on the side

                                               Equipment
5                                                    NaN
23                                                   NaN
24                                                   NaN
32                                                   NaN
71     Anchor,Battery,Bilge pump,Fire Extinguisher,Fu...
...                                                  ...
10267                                                NaN
10272  Anchor,Battery,Bilge Pump,Cockpit Cover,Cockpi...
10299                                                NaN
10302  Anchor,Battery,Cockpit Cover,Compass,Depth Ins...
10332                                                NaN

[3018 rows x 38 columns]>

In [156]:
subset_feature = ['Currency_A','Currency_B']

In [152]:
# Create a conversion table
create_change = {'Currency_A': ['EUR', 'GBP', 'DKK', 'SEK', 'USD', 'CHF', 'CHF'], 
               'Currency_B': ['EUR', 'GBP', 'DKK', 'SEK', 'USD', 'CHF', 'CHF'], 
               'Change': [1, 1, 1, 1, 1, 1,2]}
change = pd.DataFrame(data=create_change)
change

  Currency_A Currency_B  Change
0        EUR        EUR       1
1        GBP        GBP       1
2        DKK        DKK       1
3        SEK        SEK       1
4        USD        USD       1
5        CHF        CHF       1
6        CHF        CHF       2

In [157]:
bool_series = change.duplicated(subset =subset_feature )
bool_series

0    False
1    False
2    False
3    False
4    False
5    False
6     True
dtype: bool

In [158]:
change[~bool_series]

  Currency_A Currency_B  Change
0        EUR        EUR       1
1        GBP        GBP       1
2        DKK        DKK       1
3        SEK        SEK       1
4        USD        USD       1
5        CHF        CHF       1

In [165]:
change.groupby(by = ['Currency_A'])['Change'].mean()

Currency_A
CHF    1.5
DKK    1.0
EUR    1.0
GBP    1.0
SEK    1.0
USD    1.0
Name: Change, dtype: float64

In [171]:
change.drop_duplicates(subset =subset_feature, keep='first')

  Currency_A Currency_B  Change
0        EUR        EUR       1
1        GBP        GBP       1
2        DKK        DKK       1
3        SEK        SEK       1
4        USD        USD       1
5        CHF        CHF       1