<a href="https://colab.research.google.com/github/AlejandroLopezDS/Course-2/blob/main/Week3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install -q kaggle
from google.colab import files
files.upload()
#create a kaggle folder
!mkdir ~/.kaggle
# Go on kaggle > Account > Create New API token
# Save the json file in your laptop in a dedicated folder
# copy the kaggle.json to folder created
!cp kaggle.json ~/.kaggle
#permission for the json to act
!chmod 600 ~/.kaggle/kaggle.json
# Datasets available here: 
# https://www.kaggle.com/uciml/red-wine-quality-cortez-et-al-2009
!kaggle datasets download -d artemkorottchenko/large-boatyacht-pricing-dataset
!unzip large-boatyacht-pricing-dataset.zip

Saving kaggle.json to kaggle.json
Downloading large-boatyacht-pricing-dataset.zip to /content
  0% 0.00/6.22M [00:00<?, ?B/s]
100% 6.22M/6.22M [00:00<00:00, 264MB/s]
Archive:  large-boatyacht-pricing-dataset.zip
  inflating: boat_dataset.csv

In [137]:
import pandas as pd
import io
import numpy as np
pd.options.display.max_columns = 100
pd.options.display.max_rows = 60

df = pd.read_csv(io.StringIO(open('/content/boat_dataset.csv', 'rb').read().decode('utf-8', errors='ignore')), sep=",")

In [15]:
df.dtypes

Price                           object
Category                        object
Boat Type                       object
Manufacturer                    object
Model                           object
Boat name                       object
Type                            object
Year Built                     float64
Condition                       object
Length                          object
Width                           object
Depth                           object
Displacement                    object
CE Design Category              object
Cert Number of People          float64
Number of Cabins               float64
Number of beds                 float64
Hull Color                      object
Number of Toilets              float64
Number of Bathrooms            float64
Number of Showers              float64
Material                        object
Fresh Water Cap                 object
Holding Tank                    object
Propulsion                      object
Engine                          object
Engine Performance              object
Fuel Capacity                   object
Fuel Type                       object
Engine Hours                    object
Max Speed                       object
Cruising Speed                  object
Location                        object
Advertisement Date              object
Number of views last 7 days     object
Comments                        object
Additional Comments             object
Equipment                       object
dtype: object

In [18]:
df.describe(include = 'all')

,Price,Category,Boat Type,Manufacturer,Model,Boat name,Type,Year Built,Condition,Length,Width,Depth,Displacement,CE Design Category,Cert Number of People,Number of Cabins,Number of beds,Hull Color,Number of Toilets,Number of Bathrooms,Number of Showers,Material,Fresh Water Cap,Holding Tank,Propulsion,Engine,Engine Performance,Fuel Capacity,Fuel Type,Engine Hours,Max Speed,Cruising Speed,Location,Advertisement Date,Number of views last 7 days,Comments,Additional Comments,Equipment
count,10344,10344,10344,8954,10341,1313,10339,9777.000000,3375,10334,10281,7234,5051,782,3597.000000,6475.000000,6407.000000,3311,2156.000000,463.000000,1941.000000,8512,2118,819,3291,9535,8063,6814,8022,5133,892,547,10301,870,9981,7078,2454,6174
unique,3283,1,135,932,7458,1258,36,NaN,10,1628,580,264,1380,4,NaN,NaN,NaN,377,NaN,NaN,NaN,11,287,104,8,4752,843,716,6,996,99,57,3177,101,680,6631,2410,5301
top,"EUR 65.000,-",Power Boats,Motor Yacht,Bénéteau power boats,BARRACUDA 8,Maxima,"Used boat,Diesel",NaN,very good,9.00 m,2.50 m,0.90 m,12000 kg,C - Inshore,NaN,NaN,NaN,white white,NaN,NaN,NaN,GRP,100 l,100 l,Inboard with Shaft,Volvo Penta,1 x 200 HP / 147 kW,400 l,Diesel,500 h,30 knots,25 knots,Netherlands » In verkoophaven,14.07.2020,68,Wir sprechen Deutsch. Vermittlungsprovision ni...,"Ex-works price,Not included:,- Motor,- Options...",Battery
freq,81,10344,2839,663,23,15,4197,NaN,1158,113,369,582,50,402,NaN,NaN,NaN,853,NaN,NaN,NaN,5754,122,82,1188,375,305,231,4748,112,114,70,332,33,91,128,11,54
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2004.830725,NaN,NaN,NaN,NaN,NaN,NaN,9.355296,2.149035,4.345716,NaN,1.763915,1.289417,1.550747,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.309045,NaN,NaN,NaN,NaN,NaN,NaN,24.037107,2.145005,3.974223,NaN,2.076365,0.653360,0.930096,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1885.000000,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,-1.000000,-23.000000,NaN,1.000000,1.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999.000000,NaN,NaN,NaN,NaN,NaN,NaN,7.000000,1.000000,2.000000,NaN,1.000000,1.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008.000000,NaN,NaN,NaN,NaN,NaN,NaN,8.000000,2.000000,4.000000,NaN,1.000000,1.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017.000000,NaN,NaN,NaN,NaN,NaN,NaN,10.000000,3.000000,6.000000,NaN,2.000000,1.000000,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021.000000,NaN,NaN,NaN,NaN,NaN,NaN,1200.000000,96.000000,266.000000,NaN,84.000000,6.000000,10.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10344 entries, 0 to 10343
Data columns (total 38 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Price                        10344 non-null  object
 1   Category                     10344 non-null  object
 2   Boat Type                    10344 non-null  object
 3   Manufacturer                 8954 non-null   object
 4   Model                        10341 non-null  object
 5   Boat name                    1313 non-null   object
 6   Type                         10339 non-null  object
 7   Year Built                   9777 non-null   float64
 8   Condition                    3375 non-null   object
 9   Length                       10334 non-null  object
 10  Width                        10281 non-null  object
 11  Depth                        7234 non-null   object
 12  Displacement                 5051 non-null   object
 13  CE Design Category           782 non-null    object
 14  Cert Number of People        3597 non-null   float64
 15  Number of Cabins             6475 non-null   float64
 16  Number of beds               6407 non-null   float64
 17  Hull Color                   3311 non-null   object
 18  Number of Toilets            2156 non-null   float64
 19  Number of Bathrooms          463 non-null    float64
 20  Number of Showers            1941 non-null   float64
 21  Material                     8512 non-null   object
 22  Fresh Water Cap              2118 non-null   object
 23  Holding Tank                 819 non-null    object
 24  Propulsion                   3291 non-null   object
 25  Engine                       9535 non-null   object
 26  Engine Performance           8063 non-null   object
 27  Fuel Capacity                6814 non-null   object
 28  Fuel Type                    8022 non-null   object
 29  Engine Hours                 5133 non-null   object
 30  Max Speed                    892 non-null    object
 31  Cruising Speed               547 non-null    object
 32  Location                     10301 non-null  object
 33  Advertisement Date           870 non-null    object
 34  Number of views last 7 days  9981 non-null   object
 35  Comments                     7078 non-null   object
 36  Additional Comments          2454 non-null   object
 37  Equipment                    6174 non-null   object
dtypes: float64(7), object(31)
memory usage: 3.0+ MB

In [28]:
len(df) - len(df[df["Max Speed"].isna()])

892

In [42]:
type(df.Price)

pandas.core.series.Series

In [68]:
mask1 = df['Year Built']> 2000

mask2 = df['Year Built'].between(2000,2002)

In [111]:
list_cat_to_keep = ['Electric']
mask3 = ((df['Year Built']>=2001)  | (df['Year Built']<=2011)) & (df['Number of Cabins']<2) & (~df['Fuel Type'].isin(list_cat_to_keep))

In [112]:
df[mask3]['Fuel Type'].unique()

array(['Electric'], dtype=object)

In [120]:
np.round(df['Fuel Type'].value_counts(normalize = True, dropna = False)*100,decimals = 2)

Diesel      45.90
Unleaded    30.93
NaN         22.45
Electric     0.54
Gas          0.15
Hybrid       0.02
Propane      0.01
Name: Fuel Type, dtype: float64

0        False
1        False
2        False
3        False
4        False
         ...
10339    False
10340    False
10341    False
10342    False
10343    False
Name: Fuel Type, Length: 10344, dtype: bool

In [139]:
df['Fuel Type'].unique()

array([nan, 'Unleaded', 'Electric', 'Diesel', 'Gas', 'Hybrid', 'Propane'],
      dtype=object)

In [141]:
df['Advertisement Date'] = pd.to_datetime(df['Advertisement Date'], format='%d.%m.%Y')

In [142]:
df['Advertisement Date'].tail()

10339          NaT
10340          NaT
10341          NaT
10342   2020-07-23
10343          NaT
Name: Advertisement Date, dtype: datetime64[ns]

In [147]:
df['Length'] = df['Length'].str.rstrip(' m')

df['Length'] = pd.to_numeric(df['Length'])

In [154]:

df['Length'].astype(float)

0        4.00
1        4.00
2        3.69
3        3.00
4        6.30
         ...
10339    4.17
10340    4.40
10341    4.37
10342    4.27
10343    3.60
Name: Length, Length: 10344, dtype: float64

In [156]:
def format_series(series, char):

  new_series = series.str.rstrip(char)
  new_series = pd.to_numeric(new_series)

  return new_series

In [165]:
for col in ['Width', 'Depth']:

  df[col] = format_series(df[col], ' m')

In [167]:
df['Engine Hours'] = format_series(df['Engine Hours'], ' h')

In [173]:
for col in ['Fresh Water Cap', 'Holding Tank', 'Fuel Capacity']:
  df[col] = format_series(df[col], ' l')

In [182]:
col_objects_1 = df.select_dtypes(include = 'object').columns

for col in col_objects_1:
  print(f"Column {col} has {len(df[col].unique())} categories\n" )

Column Price has 3283 categories

Column Category has 1 categories

Column Boat Type has 135 categories

Column Manufacturer has 933 categories

Column Model has 7459 categories

Column Boat name has 1259 categories

Column Type has 37 categories

Column Condition has 11 categories

Column Displacement has 1381 categories

Column CE Design Category has 5 categories

Column Hull Color has 378 categories

Column Material has 12 categories

Column Propulsion has 9 categories

Column Engine has 4753 categories

Column Engine Performance has 844 categories

Column Fuel Type has 7 categories

Column Max Speed has 100 categories

Column Cruising Speed has 58 categories

Column Location has 3178 categories

Column Number of views last 7 days has 681 categories

Column Comments has 6632 categories

Column Additional Comments has 2411 categories

Column Equipment has 5302 categories

In [ ]:
list_col_to_delete_part1 = ['Category']